@value colors: '../../styles/colors.css';
@value primary-color, secondary-color, accent-color, main-text-color from colors;

.subSectionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
  width: 100%;
}

.subSectionContainer h2 {
  font-weight: 300;
  font-size: 3rem;
  color: accent-color;
  margin: 0.5rem;
}

.backgroundOne {
  background-color: primary-color;
}

.backgroundTwo {
  background-color: secondary-color;
}

.content {
  width: 100%;
}
