@value colors: '../../styles/colors.css';
@value primary-color, secondary-color, accent-color, main-text-color from colors;

.heroContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  background-size: cover;
  background-image: linear-gradient(
      rgba(30, 43, 56, 0.71),
      rgba(30, 43, 56, 0.71)
    ),
    url("/media/abstract.jpg");
  background-position: center;
}

.name {
  color: accent-color;
  font-size: 56px;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

.job {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 1rem 0 2rem 0;
}

.job h1 {
  color: main-text-color;
  margin: 0;
  font-size: 66px;
  text-align: center;
  font-weight: 300;
}

.heroContainer button {
  background-color: accent-color;
  font-size: 32px;
  border: none;
  padding: 0.5rem 1rem;
  font-weight: 300;
  font-family: "Roboto Condensed", sans-serif;
}
