.card {
  background-color: rgb(73, 73, 199);
  height: 300px;
  width: 300px;
  margin: auto;
  position: relative;
}

.detailContainer {
  height: 50px;
  background-color: rgba(255, 255, 255, 0.386);
  position: absolute;
  bottom: 0;
  width: 100%;
  transition: height 0.4s ease-in-out;
  overflow: hidden;
  cursor: pointer;
}

.detailContainer:hover,
.detailContainer:active {
  height: 200px;
}

.top {
  display: flex;
  justify-content: center;
}

.tech {
  height: 50px;
}
