@value colors: '../../styles/colors.css';
@value primary-color, secondary-color, accent-color, main-text-color from colors;
@import url("https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,600;0,700;1,400&display=swap");

.textContainer {
  background-color: main-text-color;
  padding: 150px 1rem 1rem 1rem;
  font-family: "Vollkorn", serif;
  font-weight: 300;
  grid-row-start: 2;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 2;
  z-index: 1;
}

.image {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  /* height: 100%; */
  width: 300px;
  z-index: 2;
  justify-content: center;
}

.contentContainer {
  display: grid;
  grid-template-rows: 150px 150px repeat(2, 1fr);
  justify-items: center;
}
