@value colors: '../../styles/colors.css';
@value primary-color, secondary-color, accent-color, main-text-color from colors;

.contentContainer {
  display: flex;
  flex-direction: column;
}

.contentContainer h3 {
  color: main-text-color;
  font-weight: 300;
  font-size: 2rem;
  margin: 0.5rem;
}

.badgeContainer {
  display: grid;
  grid-template-columns: repeat(3, auto);
  place-items: center;
  row-gap: 1rem;
  margin: 0.5rem 0;
}
