@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400&family=Roboto+Condensed:ital,wght@0,300;0,400;1,300&display=swap");

body {
  padding: 0;
  margin: 0;
  font-family: "Heebo", sans-serif;
  font-weight: 100;
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
